@import 'bourbon/_bourbon.scss';

// Variables
$dark : #2a2b2b;
$light : #acafae;
$gray : #e7e9ea;
$gotham : 'Gotham-Book', 'Montserrat', 'Helvetica', Arial;



//Mixins
@mixin center {
	position: absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
}

@mixin uncenter {

	position: static;
	@include transform(translate(0,0));

}

@mixin stretch {
	width:100%;
	height:100%;
}

@mixin centerLeft {
	position: absolute;
	top:50%;
	left:0;
	@include transform(translate(0%,-50%));
}

@mixin centerRight {
	position: absolute;
	top:50%;
	right:0;
	@include transform(translate(0%,-50%));
}

@mixin centerHorizontal {
	position: absolute;
	left:50%;
	@include transform(translate(-50%, 0%));
}

@mixin centerVertical {
	position: relative;
	top:50%;
	@include transform(translateY(-50%));
}

@mixin triangle($direction, $color) {
	//for the longer border length, add the two shorter together
	// and find 86.66% of that sum, and use it.

	border-style: solid;
	@if $direction == left {
		border-width: 18px 31.2px 18px 0;
		border-color: transparent $color transparent transparent;
	}
	@else if $direction == right {
		border-width: 18px 0 18px 31.2px;
		border-color: transparent transparent transparent $color;
	}
	
}

@mixin breakpoint($point) {
	@if $point == small {
    	@media (max-width: 500px) { @content; }
	}
	@else if $point == medium {
    	@media (max-width: 900px) { @content; }
	}
	@else if $point == tablet {
    	@media (max-width: 1100px) { @content; }
	}
	@else if $point == large {
    	@media (max-width: 1600px) { @content; }
	}
	@else if $point == xlarge {
    	@media (max-width: 5000px) { @content; }
	}
	@else {
		@media (max-width: $point) { @content; }
	}
  
}

@mixin stretchpoint($point) {
	@if $point == small {
    	@media (min-width: 500px) { @content; }
	}
	@else if $point == medium {
    	@media (min-width: 900px) { @content; }
	}
	@else if $point == tablet {
    	@media (min-width: 1100px) { @content; }
	}
	@else if $point == large {
    	@media (min-width: 1600px) { @content; }
	}
	@else {
		@media (min-width: $point) { @content; }
	}
  
}



body {

	&:after {

		display: none;

		@include stretchpoint(small) {

			content : 'small'

		}

		@include stretchpoint(tablet) {

			content : 'tablet'

		}

		@include stretchpoint(medium) {

			content : 'medium';

		}

		@include stretchpoint(large) {

			content : 'large';

		}		

	}

	background-color: $gray;

}

@mixin change {
	@include transition(all .15s ease);
}

.master-container {

	width:100%;
	position: relative;
	height:auto;
	z-index: 9;
	@include breakpoint(medium) {

		@include transform(translate(0,0));
		@include transition(all .35s ease);

		&.shifted {

			@include transform(translate(-70%, 0));

		}

	}

}

.clear {

	clear:both;

}

.bold {

	font-weight: bold;

}

.smaller {

	font-size: .8em;

}

html {

	background-color: $dark;
	font-family: $gotham;
	color:$dark;
	font-size: 16px;

	@include breakpoint(medium) {

		font-size: 13px;

	}


}



.logo {

	position: absolute;
	left:10%;
	z-index: 11;
	width:160px;

	@include breakpoint(large) {

		width:120px;

	}

	@include breakpoint(tablet) {

		left:5%;
		top:10px;
		position: fixed;

	}

}

.logo-fixed {

	position: fixed;
	left:10%;
	top:10px;

	width:160px;

	@include breakpoint(large) {

		width:120px;

	}

	@include breakpoint(medium) {

		position: fixed;
		left:5%;
		top:10px;

	}

}

#pacific-logo {

	width:140px;

	@include breakpoint(large) {

		width:100px;

	}

}

.container {
	position: relative;
	width:80%;
	height:auto;
	overflow: auto;
	margin: 0 auto;

	@include breakpoint(tablet) {

		width:90%;

	}

	@include breakpoint(medium) {

		width:100%;
		@include box-sizing(border-box);
		padding:0 5%;

	}
	
}


.nav {
	position: absolute;
	bottom: 0;
	width:100%;
	height:20vh;
	z-index: 10;
	background-color: rgba(255,255,255,0.8);
	@include transition(all .25s ease);

	.container {
		padding-top: 5.5vh;

	}

	@include breakpoint(medium) {

		position: fixed;
		z-index: 1;
		height:auto;
		background-color: $gray;
		width:65%;
		right:0;
		// top:40px;
		// width:100%;
		height:100%;

	}

}

.nav-opaque {

	background-color: rgba(255,255,255,0.8);

}

.nav-transparent {

	background-color: transparent;

}

.nav-fixed {

	position: fixed;
	top: 0;
	height:15vh;

}

nav {

	float:left;
	width:60%;

	li {

		position: relative;
		float:left;
		margin-right: 42px;
		text-transform: uppercase;
		color:$dark;
		font-size: .95rem;
		font-weight: normal;
		@include transition(transform .3s);

		@include stretchpoint(medium) {

			&:before {

				top:100%;
				position: absolute;
				content: attr(data-hover);
				text-transform: uppercase;
				color:$dark;
				font-size: .95rem;
				@include transition(transform .3s);

				@include breakpoint(large) {

					font-size: .9rem;

				}

				@include breakpoint(medium) {

					display: none;

				}

			}

			&:hover {

				@include transform(translate(0, -100%));

				&:before {

					@include transform(translate(0, 0));

				}

			}

		}
		
		@include breakpoint(large) {

			font-size: .9rem;

		}

		@include breakpoint(medium) {

			float:none;
			font-size: 1.4rem;
			margin-bottom: 10px;
			white-space: nowrap;
			margin-right: 0;
			display: inline-block;

		}
	
	}

	li.lighter {

		color:lighten($dark, 35%);

		&:before {

			color:lighten($dark, 35%);

		}

	}

	li.darken-at-contact {

		color:$dark;

	}

	li.contact-lighter {

		color:lighten($dark, 35%);

	}

	ul {

		overflow: hidden;

	}

	@include breakpoint(tablet) {

		width:80%;
			
	}

	@include breakpoint(medium) {

		float:none;
		margin-top: 40px;
		width:auto;

	}

} 



.mobile-navigation-item {

	display: none;

	@include breakpoint(medium) {

		display: block;

	}

}

.content {

	width:100%;
	position: relative;	
	background-color: white;
	z-index: 5;

	.container {

		@include box-sizing(border-box);
		padding: 15% 0;
		padding: 15vh 0;

	}

}

.column-left {

	position: relative;
	width:50%;
	float:left;

	@include breakpoint(medium) {

		width:100%;
		float:none;

	}

}

.column-right {

	position: relative;
	width:50%;
	float:right;

	@include breakpoint(medium) {

		width:100%;
		float:none;

	}

}

.machine-list-container {

	position: relative;
	width:80%;
	float:right;

	@include breakpoint(medium) {

		width:100%;
		float:none;
		@include box-sizing(border-box);
		padding:0 15px;

	}


}

.machine-module {

	width:100%;
	text-transform: uppercase;
	font-size: .9rem;
	line-height: 1.4rem;
	margin-bottom: 50px;

	@include breakpoint(medium) {

		font-size: .7rem;

	}

}

.machine-title {

	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 5px;

}

.machine-list-table {

	width:100%;

	td {

		vertical-align:top;

		@include breakpoint(tablet) {

			font-size: .7rem;

		}

	}

}


.photo-container {

	width:100%;
	width:100vw;
	height:100%;
	height:100vh;
	position: relative;
	overflow: hidden;
	background-color: $dark;
	z-index: 5;

	.container {

		height:100%;

	}

}

.photo {

	width:110%;
	height:110%;
	background-size: cover;
	background-position: top;	
	@include centerHorizontal;

	&.first-photo {

		background-position: bottom;

	}

	&.photo-center {

		background-position: center;

	}

	&.photo-bottom {

		background-position: bottom;

	}

	@include breakpoint(medium) {

		// display: none;

	}

}

.mobile-photo {

	width:100%;
	height:100%;
	background-size: cover;
	background-position: center;

	@include stretchpoint(medium) {

		display: none;

	}

}

.photo-static {

	@extend .photo;

}

.photo-caption-mobile {

	@include stretchpoint(medium) {

		display: none;

	}

}

.photo-caption-fixed {

	bottom: 8%;
	bottom: 8vh;

	&.first-caption {

		bottom: 8%;
		bottom: 8vh;

	}	

	@include breakpoint(medium) {

		&.first-caption {

			bottom:20%;
			bottom:20vh;

		}

	}

	

}

.photo-caption-animated {

	@include breakpoint(medium) {

		display: none;

	}

}

.photo-caption {

	position: absolute;
	left: 10%;
	font-family: $gotham;
	color:white;
	width:30%;
	z-index: 7;


	&.first-story-caption {
		
	}

	&.first-caption {

		bottom:25%;
		bottom: 25vh;

		@include breakpoint(medium) {

			bottom:20%;
			bottom: 20vh;

		}

	}	

	&.darker {

		color: black;

	}

	@include breakpoint(tablet) {

		left:5%;
		width:45%;

	}

	@include breakpoint(medium) {

		width:100%;
		left:0%;
		@include box-sizing(border-box);
		padding: 0 5%;


	}

}

.photo-caption-title {

	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 10px;
	line-height: 2rem;

	@include breakpoint(medium) {

		font-size: 1.7rem;

	}

}

.photo-caption-description {

	font-size: 1rem;
	font-weight: 600;

}

.machine-photo-info-container {

	@extend .photo-caption;
	bottom: 8%;
	bottom:8vh;
	width:40%;

	@include breakpoint(large) {

		width:50%;

	}

	@include breakpoint(medium) {

		width:100%;

	}

}

.machine-photo-diagram {

	height:12%;
	height:12vh;
	float:left;

	@include breakpoint(medium) {

		height:10%;
		height:10vh;

	}

}

.machine-photo-text-container {

	width:70%;
	float:left;
	margin-left: 20px;

	@include breakpoint(tablet) {

		width:100%;

	}

	@include breakpoint(medium) {

		width:100%;
		margin-left: 0;

	}

}

.machine-photo-title {

	@extend .photo-caption-title;
	margin-bottom: 3px;
	margin-top: 7px;



}

.machine-photo-description {

	text-transform: uppercase;
	font-weight: bold;

}



.contact {

	position: relative;
	height:100%;
	height:100vh;
	width:100%;
	width:100vw;
	background-color: #e7e9ea;

	.container {

		position: relative;

	}


	@include breakpoint(medium) {

		// height:;
		background-color: $dark;

	}

}

.contact-fixed-container {

	position: fixed;
	height:100%;
	height:100vh;
	width:100%;
	width:100vw;
	top:0;

	& > .team-outer-container {

		@include center;
		top:48%;

		@include breakpoint(tablet) {

			width:100%;

		}

		@include breakpoint(medium) {

			@include uncenter;
			display: none;

		}

	}

	& > .contact-info-outer-container {

		margin-top: 15vh;

		@include breakpoint(tablet) {

			margin-top: 0;
			@include box-sizing(border-box);
			padding-top:90px;
			// padding-bottom: 40px;

		}

	}

	@include breakpoint(tablet) {

		position: static;
		height:auto;

	}

	@include breakpoint(medium) {

		position: static;
		height:auto;

	}

}

.contact-info {

	// position: absolute;
	position: relative;
	width:100%;
	z-index: 1;
	color:$dark;

	p {
		float:left;
	}

	.button {

		background-color: $dark;
		color:white;
		float:right;

	}

	a {

		float:right;
		text-transform: uppercase;
		position: relative;
		@include transition(transform .3s);
		// overflow: hidden;

		&:before {

			top:100%;
			position: absolute;
			content: attr(data-hover);
			text-transform: uppercase;
			color:$dark;
			font-size: .95rem;
			@include transition(transform .3s);
		}

		&:hover {

			@include transform(translate(0, -100%));

			&:before {

				@include transform(translate(0, 0));

			}

		}

	}

}

.footer {

	position: absolute;
	bottom: 0;
	width:100%;
	background-color: $dark;
	height:20%;
	height:20vh;


	.container {

		@include center;
		overflow: visible;

		@include breakpoint(medium) {

			position: static;
			@include transform(translate(0,0));

		}

	}

	@include breakpoint(medium) {

		height:auto;
		// height:100%;
		// position: static;
		@include box-sizing(border-box);
		padding:30px 20px;


	}

}


.address {

	font-family: $gotham;
	color:white;
	float:left;
	font-size: 1.9rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2rem;

	@include breakpoint(tablet) {

		font-size: 1.5rem;

	}

	@include breakpoint(medium) {

		float:none;
		margin:10px 0;
		font-size: 2rem;

	}



}

.info {
	position: relative;
	float:right;
	text-align: right;
	color:white;
	font-size: .9rem;
	overflow: visible;

	a {
		color:white;
		
		&:hover {

			text-decoration: underline;

		}

	}

	table {

		// width:100%;
		float:right;

		@include breakpoint(medium) {

			float:none;

		}

	}

	td {

		text-align: right;

		&:first-child {

			padding-right: 10px;

		}

	}

	@include breakpoint(tablet) {

		font-size: .7rem;

	}

	@include breakpoint(medium) {

		float:none;
		text-align: left;
		margin:30px 0;
		font-size: 1.2rem;

	}

}

.parts-images-container {

	width:100%;
	position: relative;

}

.parts-images-column {

	position: relative;
	width:33.33%;
	@include box-sizing(border-box);
	padding-right: 15px;
	float:left;

	&:nth-child(2) {

		@include breakpoint(medium) {

			display: none;

		}

	}

	&:nth-child(3) {

		@include breakpoint(medium) {

			display: none;

		}

	}

	@include breakpoint(medium) {

		width:100%;
		padding-left: 15px;
		float:none;

	}

}

.pacific-parts-images-column {

	@extend .parts-images-column;

	width:16.6666%;

	@include breakpoint(medium) {

		width:100%;

		/* Show first and second column at medium screen sizes and smaller */
		&:not(:first-child):not(:nth-child(2)) {

			// display: none;

		}		
	}

}


.parts-image-container {

	position: relative;
	background-color: #fbfbfb;
	width:100%;
	margin-bottom: 15px;
	overflow: hidden;
	@include perspective(1000px);
	@include transform-style(preserve-3d);
	@include transform-origin(center center);

}

.parts-image-caption {

	position: absolute;
	bottom: 10px;
	left:10px;
	color:$light;
	font-size: .7rem;
	width:90%;

	@include breakpoint(tablet) {

		font-size: .6rem;

	}

	@include breakpoint(medium) {

		font-size: .8rem;

	}

}

.parts-image-centerer {

	@include center;
	width:100%;

}

.parts-image {

	position: relative;	
	z-index: 1;
	width:100%;
	@include transition(all 1s ease-out);
	@include transform-origin(center center);
	@include backface-visibility(hidden);

	&:hover {

		@include transform(scale(1.2));
		@include transition(all 3s ease-out);

	}

}

.vendor-container {

	@extend .photo-container;

	.container {

		@include box-sizing(border-box);
		padding-top: 12%;
		padding-top: 12vh;

	}

	@include breakpoint(medium) {

		height:auto;

	}

}

.vendor-info {

	width:37%;
	color:white;
	text-transform: uppercase;
	font-size: 1.1rem;
	float:left;

	&.first {

		font-size: 1.3rem;
		line-height: 1.4rem;

		@include breakpoint(tablet) {

			font-size: 1rem;

		}

	}

	@include breakpoint(tablet) {

		width:50%;
		font-size: .8rem;

	}

	@include breakpoint(medium) {

		width:100%;
		float:none;
		margin-top: 20px;

	}

}



.button {

	position: relative;
	min-width:200px;
	width:auto;
	display: inline-block;
	// height:50px;
	height:auto;
	background-color: white;
	color:$dark;
	font-size: .9rem;
	// line-height: 3.2rem;
	text-align: center;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	@include box-sizing(border-box);
	padding:15px 0px;
	overflow: hidden;

	&.not-ready {

		background-color: transparent;
		border:2px solid white;
		color:white;

		p {

			&:before {

				color:white;

			}

		}

	}

	&.ready {

		background-color: white;
		color:$dark;
		border:none;

		p {

			&:before {

				color:$dark;

			}

		}

	}

	div {

		overflow: hidden;

	}

	p {

		display: inline-block;
		@include transition(transform .3s);
		// overflow: hidden;
		// line-height: 1rem;

		&:before {

			top:100%;
			position: absolute;
			content: attr(data-hover);
			text-transform: uppercase;
			color:$dark;
			font-size: .9rem;
			

			@include breakpoint(large) {

				font-size: .9rem;

			}

			@include breakpoint(medium) {

				display: none;

			}

		}

		&:hover {

			@include transform(translate(0, -100%));

			&:before {

				@include transform(translate(0, 0));

			}

		}

	}

	@include breakpoint(tablet) {

		width:180px;
		height:45px;
		line-height: 3rem;
		font-size: .8rem;

	}

	@include breakpoint(small) {

		width:160px;
		height:40px;

	}

}

.form {

	input[type="text"], input[type="password"], input[type="tel"], textarea {

		width:100%;
		background-color:transparent;
		border:none;
		border-bottom: 1px solid white;
		color:white;
		border-radius: 0;

		&:focus {

			outline:none;


		}


	}

	label {
		// margin-top: 10px;
		color:white;
		text-transform: uppercase;
		font-size: .8rem;

	}

}

.vendor-login-form {

	@extend .form;

	float:right;
	width:25%;

	.sign-in-button {

		text-align: right;
		overflow: auto;

	}

	.button {

		float:right;
		margin-top: 60px;
		border-radius: 0;


	}

	@include breakpoint(medium) {

		width:100%;
		float:none;
		margin: 50px 0;

		.sign-in-button {

			text-align: left;

		}

	}


}

.quote-form-container {

	float:right;
	position: relative;
	width:33%;

	@include breakpoint(tablet) {

		@include transform(translate(0, -25px))

	}

	@include breakpoint(medium) {

		width:100%;
		margin:50px 0;
		@include transform(translate(0, 0));

	}

}

.quote-form {

	@extend .form;

	margin:0 auto;
	// padding-top: 30px;
	width:100%;

	textarea {
		margin-top: 1rem;
		height:5rem;

		@include breakpoint(tablet) {

			height:2.5rem;

		}

	}

	& > p {

		margin-bottom: 15px;

	} 

}

.quote-form-actions {
	width:100%;
	margin-top: 50px;
	position: relative;

	@include breakpoint(tablet) {

		margin-top: 25px;

	}

}

.quote-form-action {

	width:50%;
	@include box-sizing(border-box);

	&.cancel {

		float:left;
		background-color: transparent;
		border:1px solid white;
		color:white;

		p {

			&:before {

				color:white;

			}

		}

	}

	&.request {

		float:right;

	}

}

.quote-form-message {

	display: block;
	margin-top: 20px;
	font-size: 1.3rem;
	font-weight: bold;
	color:white;
	box-sizing:border-box;
	padding:8px 10px;
	text-align: center;

	&.error {

		background-color: #e74c3c;

	}

	&.success {

		background-color: #2ecc71;

	}

	&.info {

		background-color: #95a5a6;

	}

}


.team-container {

	position: relative;
	width:95%;
	height:auto;
	margin:0 auto;

	img {

		display: block;
		width:100%;

	}

	@include breakpoint(tablet) {

		width:100%;

	}

	@include breakpoint(medium) {

		width:100%;

	}

}

.team-hover-trigger-container {

	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: auto;

}

.team-hover-trigger {

	float:left;
	height:100%;
	width:8.333%;
	@include box-sizing(border-box);
	// border-right: 2px solid green;

	&:first-child {

		width:13%;

	}

	&:nth-child(2) {

		width:7%;

	}

	&:nth-child(3) {

		width:7%;

	}

	&:nth-child(4) {

		width:7%;

	}

	&:nth-child(7) {

		width:6%;

	}

	&:nth-child(8) {

		width:7%;

	}

}

.nav-request-quote {

	float:right;
	position: relative;
	overflow: hidden;

	a {

		overflow: hidden;
		position: relative;

	}

	li {

		text-transform: uppercase;
		font-size: .95rem;
		position: relative;
		color:$dark;
		font-weight: normal;
		@include transition(transform .3s);
		
		&:before {

			top:100%;
			position: absolute;
			content: attr(data-hover);
			text-transform: uppercase;
			color:$dark;
			font-size: .95rem;
			@include transition(transform .3s);

			@include breakpoint(large) {

				font-size: .9rem;

			}

		}

		&:hover {

			@include transform(translate(0, -100%));
			color:$light;

			&:before {

				@include transform(translate(0, 0));

			}

		}

		@include breakpoint(large) {

			font-size: .9rem;

		}

	}

	@include breakpoint(medium) {

		display: none;

	}
	
}

.nav-page-elements {

	float:right;

	@include breakpoint(medium) {

		display: none;

	}

}

.hamburger {

	cursor:pointer;
	position: relative;

	.patty {

		width:100%;
		height:2px;
		@include transition(all .15s ease);

		&:first-child {
			position: absolute;
			top:0;
			left:0;
		}

		&:nth-child(2) {
			@include center;
			top:49.25%;
		}

		&:last-child {
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}	

}

.mobile-hamburger {

	position: fixed;
	top:20px;
	right:20px;
	width:30px;
	height:20px;
	z-index: 10;
	cursor: pointer;

	.patty {

		background-color: black;

	}

	&.open {

		.patty {

			&:first-child {

				@include transform(translate(0, 9px) rotate(45deg));
				

			}

			&:nth-child(2) {

				opacity: 0;

			}

			&:last-child {

				@include transform(translate(0, -9px) rotate(-45deg));

			}

		}

	}

	@include stretchpoint(medium) {

		display: none;

	}

}

.nav-hamburger {

	.patty {

		background-color: black;

	}

}

.capabilities-title {

	text-transform: uppercase;

	.hamburger {

		float:left;
		width:16px;
		height:.9rem;

	}

	h3 {

		margin-left: 10px;
		float:left;
		white-space: nowrap;
		font-size: .9em;

	}

	@include breakpoint(tablet) {

		// margin-bottom: 

	}

}

.nav-capabilities-title {

	@extend .capabilities-title;

	.hamburger {

		float:right;
		margin-left: 5px;
		margin-top: 4px;

	}

}

.pacific-overview-container {

	@extend .photo-container;

}

.pacific-title {

	@extend .capabilities-title;

	color:lighten($dark, 35%);

	@include breakpoint(tablet) {

		display: none;

	}

}


.pacific-photo-container {

	@include breakpoint(small) {

		display: none;

	}

}

.pacific-photo-caption {

	display: inline-block;

}



.credits {

	text-transform: uppercase;
	font-size: .5rem;
	position: absolute;
	top:115%;
	right:0;

	@include breakpoint(medium) {

		display: none;

	}

}


.navbar {

	display: none;

	@include breakpoint(medium) {

		display: block;
		z-index: 10;
		position: fixed;
		height:80px;
		background-color: rgba(255,255,255,.7);
		top:0;
		width:100%;
		@include transform(translate(0,0));
		@include transition(all .35s ease);



	}

	&.shifted {

		@include transform(translate(-70%, 0));

	}

}




.pacific-footer-blurb {

	margin-bottom: 10px;
	color:white;
	display: none;

	h2 {

		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;

	}

	h4 {

		font-size: 1.3rem;
		font-weight: bold;

	}


	@include breakpoint(small) {

		display: block;

	}

}








