@import 'bourbon/_bourbon.scss';

// Variables
$dark : #2a2b2b;
$light : #acafae;
$gotham : 'Gotham-Book', 'Montserrat', 'Helvetica', Arial;


//Mixins
@mixin center {
	position: absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
}

@mixin stretch {
	width:100%;
	height:100%;
}

@mixin centerLeft {
	position: absolute;
	top:50%;
	left:0;
	@include transform(translate(0%,-50%));
}

@mixin centerRight {
	position: absolute;
	top:50%;
	right:0;
	@include transform(translate(0%,-50%));
}

@mixin centerHorizontal {
	position: absolute;
	left:50%;
	@include transform(translate(-50%, 0%));
}

@mixin centerVertical {
	position: relative;
	top:50%;
	@include transform(translateY(-50%));
}

@mixin triangle($direction, $color) {
	//for the longer border length, add the two shorter together
	// and find 86.66% of that sum, and use it.

	border-style: solid;
	@if $direction == left {
		border-width: 18px 31.2px 18px 0;
		border-color: transparent $color transparent transparent;
	}
	@else if $direction == right {
		border-width: 18px 0 18px 31.2px;
		border-color: transparent transparent transparent $color;
	}
	
}

@mixin breakpoint($point) {
	@if $point == small {
    	@media (max-width: 500px) { @content; }
	}
	@else if $point == medium {
    	@media (max-width: 1250px) { @content; }
	}
	@else if $point == large {
    	@media (max-width: 1600px) { @content; }
	}
	@else {
		@media (max-width: $point) { @content; }
	}
  
}

@mixin change {
	@include transition(all .15s ease);
}

.clear {

	clear:both;

}

.bold {

	font-weight: bold;

}

html {

	background-color: $dark;
	font-family: $gotham;
	color:$dark;

}


.logo {

	position: absolute;
	left:10%;
	z-index: 10;
	width:160px;

	@include breakpoint(large) {

		width:120px;

	}

}

#pacific-logo {

	width:120px;

	@include breakpoint(large) {

		width:100px;

	}

}

.container {
	position: relative;
	width:80%;
	height:auto;
	overflow: auto;
	margin: 0 auto;
	
}


.nav {
	position: absolute;
	bottom: 0;
	width:100%;
	height:20vh;
	// background-color: rgba(255,255,255,0.5);
	z-index: 9;
	@include transition(all .25s ease);

	.container {
		padding-top: 5.5vh;

	}

	// display: none;

}

.nav-opaque {

	background-color: rgba(255,255,255,0.9);

}

.nav-transparent {

	background-color: transparent;

}

.nav-fixed {

	position: fixed;
	top: 0;
	height:15vh;

	// .container {

	// 	padding-top: 100px;

	// }

}

nav {

	float:left;

	li {

		position: relative;
		float:left;
		margin-right: 42px;
		text-transform: uppercase;
		color:$dark;
		font-size: .95rem;
		font-weight: normal;
		@include transition(transform .3s);
		
		&:before {

			top:100%;
			position: absolute;
			content: attr(data-hover);
			text-transform: uppercase;
			color:$dark;
			font-size: .95rem;
			@include transition(transform .3s);
		}

		&:hover {

			@include transform(translate(0, -100%));

			&:before {

				@include transform(translate(0, 0));

			}

		}

		@include breakpoint(large) {

			font-size: .9rem;

		}
	
	}

	li.lighter {

		color:$light;

		&:before {

			color:$light;

		}

	}

	ul {

		overflow: auto;

	}

} 


.content {

	width:100%;
	position: relative;	
	background-color: white;
	z-index: 5;

	.container {

		@include box-sizing(border-box);
		padding: 15% 0;
		padding: 15vh 0;

	}

}

.column-left {

	position: relative;
	width:50%;
	float:left;

}

.column-right {

	position: relative;
	width:50%;
	float:right;

}

.machine-list-container {

	position: relative;
	width:80%;
	float:right;


}

.machine-module {

	width:100%;
	text-transform: uppercase;
	font-size: .9rem;
	line-height: 1.4rem;
	margin-bottom: 50px;

}

.machine-title {

	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 5px;

}

.machine-list-table {

	width:100%;

	td {

		vertical-align:top;

	}

}


.photo-container {

	width:100%;
	width:100vw;
	height:100%;
	height:100vh;
	position: relative;
	overflow: hidden;
	z-index: 5;

	.container {

		height:100%;

	}

}

.photo {

	width:110%;
	height:110%;
	background-size: cover;
	background-position: top;	
	@include centerHorizontal;

	&.first-photo {

		background-position: bottom;

	}

	&.photo-center {

		background-position: center;

	}

	&.photo-bottom {

		background-position: bottom;

	}

}


.photo-static {

	@extend .photo;

}

.photo-caption {

	position: absolute;
	bottom: 8%;
	bottom: 8vh;
	left: 10%;
	font-family: $gotham;
	color:white;
	width:30%;
	z-index: 2;


	&.first-caption {

		bottom:28%;
		bottom: 28vh;

	}

}

.photo-caption-title {

	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 10px;
	line-height: 2rem;

}

.photo-caption-description {

	font-size: 1rem;
	font-weight: 600;

}

.machine-photo-info-container {

	@extend .photo-caption;
	width:40%;

	@include breakpoint(large) {

		width:50%;

	}

}

.machine-photo-diagram {

	height:12%;
	height:12vh;
	float:left;

}

.machine-photo-text-container {

	width:70%;
	float:left;
	margin-left: 20px;

}

.machine-photo-title {

	@extend .photo-caption-title;
	margin-bottom: 3px;
	margin-top: 7px;

}

.machine-photo-description {

	text-transform: uppercase;

}



.contact {

	position: relative;
	height:100%;
	height:100vh;
	width:100%;
	width:100vw;
	background-color: #e7e9ea;

}

.contact-fixed-container {

	position: fixed;
	height:100%;
	height:100vh;
	width:100%;
	width:100vw;
	top:0;

	& > .container {

		@include center;
		top:48%;

		// padding-top: 18vh;

	}

}

.footer {

	position: absolute;
	bottom: 0;
	width:100%;
	background-color: $dark;
	height:20%;
	height:20vh;

	.container {

		@include center;

	}

}


.address {

	font-family: $gotham;
	color:white;
	float:left;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.8rem;

}

.info {

	float:right;
	text-align: right;
	color:white;
	font-size: .9rem;

	a {
		color:white;
		
		&:hover {

			text-decoration: underline;

		}

	}

}

.parts-images-container {

	width:100%;
	position: relative;

}

.parts-images-column {

	position: relative;
	width:33.33%;
	@include box-sizing(border-box);
	padding-right: 15px;
	float:left;

	&:nth-child(2) {

		// top:200px;

	}

	&:nth-child(3) {

		// top:60px;

	}

}

.pacific-parts-images-column {

	@extend .parts-images-column;

	width:16.6666%;

}


.parts-image-container {

	position: relative;
	background-color: #fbfbfb;
	width:100%;
	margin-bottom: 15px;
	overflow: hidden;
	@include perspective(1000px);
	@include transform-style(preserve-3d);
	@include transform-origin(center center);

}

.parts-image-centerer {

	@include center;
	width:100%;

}

.parts-image {

	position: relative;	
	z-index: 1;
	width:100%;
	@include transition(all 1s ease-out);
	@include transform-origin(center center);
	@include backface-visibility(hidden);

	&:hover {

		@include transform(scale(1.2));
		@include transition(all 3s ease-out);

	}

}




.vendor-container {

	@extend .photo-container;

	.container {

		@include box-sizing(border-box);
		padding-top: 12%;
		padding-top: 12vh;

	}

}

.vendor-info {

	width:30%;
	color:white;
	text-transform: uppercase;
	font-size: 1.1rem;
	float:left;

}

.contact-info {

	@extend .vendor-info;
	width:100%;
	color:$dark;

	p {
		float:left;
	}

	.button {

		background-color: $dark;
		color:white;
		float:right;

	}

}

.button {

	width:200px;
	height:50px;
	background-color: white;
	color:$dark;
	font-size: .9rem;
	line-height: 3.2rem;
	text-align: center;
	border: none;
	text-transform: uppercase;

}

.form {

	input[type="text"], input[type="password"], input[type="tel"], textarea {

		width:100%;
		background-color:transparent;
		border:none;
		border-bottom: 1px solid white;
		color:white;

		&:focus {

			outline:none;


		}


	}

	label {
		// margin-top: 10px;
		color:white;
		text-transform: uppercase;
		font-size: .8rem;

	}

}

.vendor-login-form {

	@extend .form;

	float:right;
	width:25%;

	.sign-in-button {

		text-align: right;

	}

	input[type="submit"] {

		margin-top: 60px;


	}


}

.quote-form {

	@extend .form;

	margin:0 auto;
	width:25%;

	textarea {
		margin-top: 1rem;
		height:5rem;

	}

	p {

		margin-bottom: 15px;

	} 

}

.quote-form-actions {
	width:100%;
	margin-top: 50px;
	position: relative;

}

.quote-form-action {

	width:50%;
	@include box-sizing(border-box);

	&.cancel {

		float:left;
		background-color: transparent;
		border:1px solid white;
		color:white;

	}

	&.request {

		float:right;

	}

}

.team-container {

	position: relative;
	width:100%;
	height:auto;
	margin:0 auto;

	img {

		display: block;
		width:100%;

	}

}



.team-hover-trigger-container {

	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: auto;

}

.team-hover-trigger {

	float:left;
	height:100%;
	width:8.333%;
	@include box-sizing(border-box);
	// border-right: 2px solid green;

	&:first-child {

		width:13%;

	}

	&:nth-child(2) {

		width:7%;

	}

	&:nth-child(3) {

		width:7%;

	}

	&:nth-child(4) {

		width:7%;

	}

	&:nth-child(7) {

		width:6%;

	}

	&:nth-child(8) {

		width:7%;

	}

}


.nav-page-elements {

	float:right;

}

.hamburger {

	cursor:pointer;
	position: relative;

	.patty {
		width:100%;
		height:2px;
		background-color: black;
		border-radius: 500px;
		@include transition(all .15s ease);

		&:first-child {
			position: absolute;
			top:0;
			left:0;
		}

		&:nth-child(2) {
			@include center;
		}

		&:last-child {
			position: absolute;
			bottom: 0;
			left: 0;
		}

	}	


}

.capabilities-title {

	text-transform: uppercase;

	.hamburger {

		float:left;
		width:18px;
		height:.8rem;

	}

	h3 {

		margin-left: 10px;
		float:left;
		white-space: nowrap;

	}



}




.pacific-overview-container {

	@extend .photo-container;

}


.pacific-title {

	@extend .capabilities-title;

	// color:$light;

}









